.topSection {
  text-align: center;

}

.topSection iframe {
  border-radius: 10px;
  margin-top: 30px;
  width: 750px;
  height: 450px;
}

.topSection h1 {
  margin-top: 15vh;
}

.topSection p {
  max-width: 500px;
  padding-inline: 10px;
  margin: auto;
}

.topSection button {
  margin-top: 30px;
  margin-bottom: 50px;
}

/* .about {
  margin-top: 150px;
  text-align: center;
} */

.about {
  margin-inline: 200px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.whoWeAre{
  background-color: aqua;
  padding: 50px;
  grid-area: 1 / 1 / 2 / 3;
}
.whoWeAre p{
  width: 50%;
}

.aboutImage {
  background-color: rgba(0, 0, 0, 0.151);
  padding: 50px;
  grid-area: 1 / 2 / 2 / 3;
}


@media screen and (max-width: 800px) {

  .topSection iframe {
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    height: 250px;
  }

  .about {
    margin: 10px;
  }

  .whoWeAre{
    background-color: aqua;
    padding: 0px;
    grid-area: 1 / 1 / 2 / 3;
  }

}