.topSection {
  text-align: center;

}

.topSection iframe {
  border-radius: 10px;
  margin-top: 30px;
  width: 750px;
  height: 450px;
}

.topSection h1 {
  margin-top: 15vh;
}

.topSection p {
  max-width: 500px;
  padding-inline: 10px;
  margin: auto;
}

.topSection button {
  margin-top: 30px;
  margin-bottom: 50px;
}


.about {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.whoWeAre {
  padding-left: 200px;
  padding-right: 100px;
  width: 60%;
}

.aboutImage {
  width: 40%;
}

.centerImage {
  margin-left: 100px;
}

.courseSection {
  text-align: center;
}

.month {
  margin-inline: 100px;
  height: 200vh;
  display: flex;
}

.monthImage {
  /* background-color: blanchedalmond; */
  width: 60%;
  height: 200vh;

}

.stickyContainer {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.monthDetails {
  /* background-color: aqua; */
  width: 50%;
}

.monthDetails div {
  display: flex;
  height: 100vh;
  padding-inline: 50px;
  text-align: left;
  flex-direction: column;
  vertical-align: middle;
  /* align-content: center; */
  justify-content: center;
}

.feedbackCard {
  padding-inline: 25px !important;
}



.feedbackCard {
  height: fit-content !important;
  /* margin: auto; */
  width: 90%;
  border-radius: 20px;
  /* border: 1px solid yellow; */
  box-shadow: 0px 0px 5px rgb(106, 106, 106);

}

.feedbackCard h4 {
  margin: 0px;
}


.endNote {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.endNote h2 {
  margin: auto;
}


@media screen and (max-width: 800px) {
  .topSection p{
    padding: 10px;
  }

  .topSection iframe {
    border-radius: 10px;
    margin-top: 20px;
    width: 90%;
    height: 250px;
  }

  .about {
    margin-top: 100px;
    flex-direction: column-reverse;
    /* background-color: aqua; */
  }

  .whoWeAre {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .whoWeAre h2 {
    margin: auto;
    margin-bottom: 30px;
  }
  
  .aboutImage {
    text-align: center;
    width: 100%;
  }

  .about-image Image {
    margin: auto;
  }

  .courseSection {
    margin-top: -100px;
    /* background-color: bisque; */
  }
  .courseSection {
    margin: 20px;
  }

  .month {
    margin-top: 100px;
    height: auto;
    margin-inline: 0px;
    flex-direction: column-reverse;
  }

  .monthImage {
    width: 100%;
    height: auto;
  }

  .stickyContainer {
    height: auto;
    position: relative;
  }

  .monthDetails {
    width: 100%;
  }

  .monthDetails div {
    height: auto;
    padding: 0px;
  }

  .feedbackCard {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    padding: 20px !important;
  }

  .feedbackCard p {
    margin: 0px;
  }
  .feedbackCard h4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .endNote p {
    padding-inline: 20px;
  }


}